* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000100;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: 100%;
    transform: rotate(15deg);
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    -webkit-box-reflect: below 2px linear-gragient(transparent, #0004);
}

.cube {
    position: relative;
    width: 180px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    0 0 25px;
    0 0 50px;
    0 0 75px;
    0 0 100px;
    border-radius: 5px;
    box-shadow: aquamarine;
    transform-origin: bottom left;
    cursor: pointer;

}